In [5]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

In [6]:
df = pd.read_csv("cleaned_healthcare.csv")

In [7]:
df.head(3)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,31-01-2024,Matthew Smith,Sons And Miller,Blue Cross,18856.28,328,Urgent,02-02-2024,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,20-08-2019,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,26-08-2019,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,22-09-2022,Tiffany Mitchell,Cook Plc,Aetna,27955.10,205,Emergency,07-10-2022,Aspirin,Normal

In [8]:
conn=mysql.connector.connect(
    host='localhost',
    user='root',
    password='password'
)

In [9]:
conn=mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='health'
)
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E167DC2EA0>

In [10]:
engine = create_engine("mysql+pymysql://root:password@localhost/health")

In [11]:
df.to_sql("healthT", con=engine, if_exists="replace", index=False)

C:\Users\Surjith S Hanji\AppData\Local\Temp\ipykernel_19228\2731220542.py:1: UserWarning: The provided table name 'healthT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("healthT", con=engine, if_exists="replace", index=False)

55493

In [12]:
mycursor=conn.cursor()
mycursor.execute("show tables")
for table in mycursor:
    print(table)

('healtht',)