In [1]:
import pandas as pd
import mysql.connector

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Load your CSV
df = pd.read_csv("BlinkIT Grocery Data.csv")

In [15]:
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2016,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2014,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

In [16]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='password'
)

In [17]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='blinkend'
    
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000223DA49A540>

In [18]:
# Connect to MySQL
engine = create_engine("mysql+pymysql://root:password@localhost/blinkend")

# Create table automatically if it doesn't exist
df.to_sql("blink", con=engine, if_exists="replace", index=False)

print("sales_data table created and data imported!")

sales_data table created and data imported!

In [19]:
mycursor=mydb.cursor()
mycursor.execute("show tables")
for table in mycursor:
    print(table)

('blink',)